<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.happyjob.study.repository.calendar.CalendarMapper">
	<!-- 다이어리 목록 조회 -->
	<select id = "calendarList" resultType = "kr.happyjob.study.vo.calendar.CalendarVO">
		SELECT 
		    d.s_no,
		    d.loginID,
		    d.s_contents,
		    d.s_date,
		    d.s_regdate
		FROM 
		    tb_schedule d
		WHERE 
    		d.loginID = #{userId}

		 ORDER BY s_date DESC
	</select>
	
		<!-- 신규등록(저장) :  -->
	<insert id = "calendarInsert" parameterType="java.util.Map">
	    <selectKey resultType="string" keyProperty="s_no" order="BEFORE">
            SELECT max(CAST(s_no  as unsigned)) + 1   FROM tb_schedule
        </selectKey> 
		INSERT
		INTO		tb_schedule
				(
					s_no, loginID,  s_contents, s_date, s_regdate
				)
		VALUES
				(
						#{s_no}
					,	#{loginId}
					,	#{s_contents}
					,	#{s_date}
					,	NOW()
				)
	</insert>
	
	<!-- 단건 조회  -->
	<select id = "calendarRead" parameterType="java.util.Map" resultType="kr.happyjob.study.vo.calendar.CalendarVO">
		SELECT 
		    d.s_no,
		    d.loginID,
		    d.s_contents,
		    d.s_date,
		    d.s_regdate
		FROM 
			tb_schedule d
		WHERE d.loginID = #{loginId}
		AND d.s_date = #{s_date}
	</select>
	   
	<!-- 삭제-->
	<delete id="calendarDelete" parameterType="java.util.Map">
		DELETE
		FROM 	tb_schedule
		WHERE 	s_date = #{s_date}
	</delete>
	
	<!-- 수정-->
	<update id = "calendarUpdate" parameterType="java.util.Map">
		UPDATE tb_schedule
		SET		s_contents = #{s_contents}
		WHERE	s_date = #{s_date}
	</update>

</mapper>